.fg-orbit-line-angle-64 {
  --angle: 64deg;
}

.fg-orbit-line-angle-minus-42 {
  --angle: -42deg;
}

.fg-progress-74 span {
  width: 74%;
}

.fg-progress-88 span {
  width: 88%;
}

.fg-progress-93 span {
  width: 93%;
}
